.App {
  text-align: center;
}

.Navbar {
  height: 100vh;
  width: 36vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 27px;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  overflow-x: hidden;
  background: rgb(15, 165, 157);
  color: white;
}

.ContentPageMain {
  margin-left: 36vh;
}

#NavBarName {
  font-size: 23px;
}

.ui.small.circular.image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0vh;
  margin-top: 3.2vh;
  height: 160px;
  width: 155px;
  /* the following styling is for the shadow on the image */
  background: red;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.ui.circular.linkedin.icon.button {
  background: white;
  margin-left: .7vh;
  margin-right: .7vh;
}

.ui.circular.github.icon.button {
  background: white;
  margin-left: .7vh;
  margin-right: .7vh;
}

.fab.fa-medium-m {
  color: rgb(15, 165, 157);

}
.ui.circular.medium.icon.button {
  background: white;
  margin-left: .7vh;
  margin-right: .7vh;
  align-items: center;
}

.fab.fa-linkedin-in {
  color: rgb(15, 165, 157);
}

.fab.fa-github {
  color: rgb(15, 165, 157);
}

.Portfolio {
  margin-top: 5vh;
}

.Contact {
  margin-top: 5vh;
}

.BioBoxTitle {
  padding-right: 8vh;
  padding-left: 5vh;
  text-align: left;
  padding-top: 1vh;
}

.BioBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-Top: 5vh;
  margin: 7;
  background-color: rgba(236, 238, 238, 0.548);
  padding-bottom: 5vh;
}

.whatIDo {
  padding-top: 5vh;
  padding-left: 5vh;
  text-align: left;
}

.SkillsGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 6vh;
  padding-bottom: 10vh;
}

li {
  list-style-type: none;
  font-size: 12px;
}

#ResumePNG {
  border: 1px solid rgb(15, 165, 157);
  box-shadow: 8px 10px 10px grey, -8px 10px 10px grey;
  margin-bottom: 2vh;
  height: 150vh;
}

.ContactMainBox {
  background: rgba(236, 238, 238, 0.548);
  margin-top: 10vh;
  margin-bottom: 12vh;
  margin-left: 20vh;
  margin-right: 20vh;
  height: 80vh;
}

#ContactTitle {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding-top: 4vh;
  margin-bottom: 2vh;
  color: rgba(73, 70, 70, 0.918);
}

#ContactDividerLine {
  line-height: 0;
  margin-top: 0;
  color: rgb(15, 165, 157);
}

#ContactContentBox {
  background: white;
  height: 50vh;
  margin-right: 7vw;
  margin-left: 7vw;
  margin-top: 5vh;
  padding-top: 5vh;
}

.fas.fa-envelope {
  display: inline;
  padding-right: 1vw;
  color: rgb(15, 165, 157);
}

.emailContact {
  display: inline;
  color: rgba(73, 70, 70, 0.918);
  font-family: 'Roboto', sans-serif;
  padding-right: .5vw;
  font-size: 20px;
}

.emailHyperLink {
  display: inline;
}

.fas.fa-phone{
  display: inline;
  padding-right: 1vw;
  color: rgb(15, 165, 157);
}

.phoneContact{
  display: inline;
  color: rgba(73, 70, 70, 0.918);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.contactLineDivider {
  padding-top: 3vh;
}

.fab.fa-linkedin {
  display: inline;
  padding-right: .7vw;
  color: rgb(15, 165, 157);
}

.fab.fa-github-square {
  display: inline;
  padding-right: .7vw;
  color: rgb(15, 165, 157);
}

.GrayHeaderBox {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  padding-Top: 5vh;
  margin: 7;
  background-color: rgba(236, 238, 238, 0.548);
  margin-bottom: 5vh;
  height: 33vh;
}

.ResumeGrayHeaderBox {
  padding-Top: 5vh;
  background-color: rgba(236, 238, 238, 0.548);
  margin-bottom: 5vh;
  height: 23vh;
}

.PortfolioGrayHeaderBox {
  padding-Top: 5vh;
  background-color: rgba(236, 238, 238, 0.548);
  margin-bottom: 5vh;
  height: 30vh;
}

.projectShowContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10vh;
}

.projectCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 26vw;
  justify-content: center;
  align-items: center;
}

.projectCardHeader {
  display: flex;
  font-size: 34px;
  font-weight: bolder;
  padding-bottom: 2vh;
}

.projectImage {
  display: flex;
  width: 22.5vw;
  min-width: 200px;
  justify-content: center;
  box-shadow: 8px 10px 10px grey;
}

.ChewsyImage {
  display: flex;
  width: 22.5vw;
  min-width: 200px;
  justify-content: center;
  padding-left: .9vh;
}

.ChewsyCardHeader {
  display: flex;
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 0;
}

.project-bio {
  text-align: center;
  padding-top: 30px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.Chewsy-project-bio {
  text-align: center;
  padding-top: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.Github-Demo-Links {
  color: rgb(15, 165, 157);
  display: inline;
}

.Divider-Github-Demo {
  color: black;
  display: inline;
  font-size: 25px;
  font-weight: 100;
}

.Built-With-List {
  margin-top: 20px;
}

.P-List {
  margin: -10px 0 1em;
  line-height: 1.2em;
  font-size: 14px;
}

.BuiltHeader {
  margin-bottom: 2.5vh;
  font-size: 22px;
}

.mainContactShowContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10vh;
}

.contactCard {
  display: flex;
  flex-direction: column;
  padding: 2px;
  height: 100%;
  width: 20vw;
  justify-content: center;
  align-items: center;
}

.contactCardHeader {
  font-size: 27px;
}

.contactCardBody {
  font-size: 16px;
  font-weight: 100;
  margin-top: 0;
}

.contactCardBodySub {
  font-size: 12px;
  font-weight: 100;
  margin-top: 0;
  width: 200px;
}

.Contact-Grey-Box {
  padding-Top: 5vh;
  background-color: rgba(236, 238, 238, 0.548);
  margin-bottom: 7vh;
  height: 33vh;
}