.App {
  text-align: center;
}

.Navbar {
  height: 100vh;
  width: 34vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 35px;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  overflow-x: hidden;
  background: rgb(15, 165, 157);
  color: white;
}

#NavBarName {
  font-size: 28px;
}

.ui.small.circular.image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0vh;
  margin-top: 3.3vh;
  height: 198px;
  width: 190px;
  /* the following styling is for the shadow on the image */
  background: red;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}