.App {
  text-align: center;
}

.Navbar {
  height: 100vh;
  width: 36vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 27px;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  overflow-x: hidden;
  background: rgb(15, 165, 157);
  color: white;
}

.ContentPageMain {
  margin-left: 36vh;
}

#NavBarName {
  font-size: 23px;
}

.ui.small.circular.image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0vh;
  margin-top: 3.2vh;
  height: 160px;
  width: 155px;
  /* the following styling is for the shadow on the image */
  background: red;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.ui.circular.linkedin.icon.button {
  background: white;
  margin-left: .7vh;
  margin-right: .7vh;
}

.ui.circular.github.icon.button {
  background: white;
  margin-left: .7vh;
  margin-right: .7vh;
}

.fab.fa-medium-m {
  color: rgb(15, 165, 157);

}
.ui.circular.medium.icon.button {
  background: white;
  margin-left: .7vh;
  margin-right: .7vh;
  align-items: center;
}

.fab.fa-linkedin-in {
  color: rgb(15, 165, 157);
}

.fab.fa-github {
  color: rgb(15, 165, 157);
}

.Portfolio {
  margin-top: 5vh;
}

.Aboutme {

}

.Resume {
  margin-top: 5vh;
}

.Contact {
  margin-top: 5vh;
}

.BioBoxTitle {
  padding-right: 8vh;
  padding-left: 5vh;
  text-align: left;
  padding-top: 1vh;
}

.BioBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-Top: 5vh;
  margin: 7;
  background-color: rgba(245, 248, 248, 0.644);
  padding-bottom: 10vh;
}

.whatIDo {
  padding-top: 5vh;
}